/*-------------------------------------------- Geral --------------------------------------------*/

.sec_fixed {
    height: 76px;
}

.sec_comoDoar, .sec_instituicoes {
    background-color:#333333;
    padding: 40px 0px;
}

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
}

/*-------------------------------------------- Header --------------------------------------------*/

.header {
    background-color: #21D19F;
    position: fixed;
}

@media screen and (max-width: 992px) {
    .header {
        padding: 13px 50px 13px 50px;
    }
}

@media screen and (min-width: 992px) {
    .header {
        padding: 13px 120px 13px 120px;
    }
}

.header_logoText {
    padding-left: 0px;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
}

@media screen and (max-width: 992px) {
    .header_logoText {
        padding-left: 20px;
    }
}

.header_icon {
    color: white;
    font-size: 20px;
}

.header_iconText {
    padding: 0px 40px 0px 5px;
    font-size: 17.6px;
    color: white;
    font-family: 'Jost', sans-serif;
}

.header_donate {
    padding: 8px 20px 10px 20px;
    border-radius: 30px;
    background-color: #2176FF;
}

.header_iconTextDonate {
    padding-right: 5px;
    font-size: 17.6px;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
}

.header_botoes {
    margin: 0px;
}

.header_botoes li {
    list-style: none;
}

#menuToggle, .menu-icon {
    display: none;
}

/*-------------------------------------------- Menu Mobile --------------------------------------------*/

@media screen and (max-width: 900px) {
  
    .header {
        width: 100%;
    }

    .header_botoes {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 0%;
        background-color: rgba(0, 0, 0, 0.7);
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -ms-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }
  
    .header_botoes li {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
  
    .header_botoes li a {
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu-icon {
        width: 50px;
        display: block;
        position: absolute;
        right: 30px;
        color: white;
        z-index: 999;
    }

    .menu-icon i {
        text-align: center;
        vertical-align: middle;
    }

    .header_botoes { text-align: center; }
    #menuToggle:checked ~ label i:nth-child(2) { display: block; }
    #menuToggle:checked ~ label i:first-child { display: none; }
    #menuToggle:not(:checked) ~ label i:first-child { display: block; }
    #menuToggle:not(:checked) ~ label i:nth-child(2) { display: none; }
    #menuToggle:checked ~ ul { height: 100%; }
    .menu-icon i { font-size: 1.7em; }
}

/*-------------------------------------------- Carrossel --------------------------------------------*/

.sec_campanhas { background-color: rgb(117, 40, 40) }

.camp_general {
    height: 500px;
    padding: 0px 10px;
}

.camp_arrow i {
    font-size: 30px;
    padding: 20px;
    border-radius: 1000px;
    background-color: #333333;
    color: #21D19F;
}

@media screen and (max-width: 767px) 
{
    .camp_arrow { padding-bottom: 20px; }
    .camp_general { padding: 0px 40px; }
    .camp_arrow i { font-size: 15px; }
}

/*-------------------------------------------- Como doar --------------------------------------------*/

.cd_title {
    color: #21D19F;
    font-size: 40px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    text-align: center;
}

.cd_steps {
    padding: 50px 80px 0px 80px;
}

.cd_circle {
    padding: 10px 27px 10px 27px;
    border-radius: 100px;
    background-color: #21D19F;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.cd_step {
    padding: 0px 50px;
}

.cd_step h5 {
    padding-top: 25px;
    color: #21D19F;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.cd_step h6 {
    color: white;
    font-family: 'Jost', sans-serif;
    padding-top: 10px;
}

@media screen and (max-width: 991px) {
    .cd_step {
        padding: 30px 0px 0px 0px;
    }

    .cd_steps {
        padding: 20px 80px;
    }
}

/*-------------------------------------------- Mapa interativo --------------------------------------------*/

.sec_map {
    height: 400px;
    background-color: rgb(117, 40, 40);
}

/*-------------------------------------------- Instituições --------------------------------------------*/

.inst_general {
    padding: 40px 80px 15px 80px;
}

.inst_arrow {
    font-size: 30px;
    color: #21D19F;
}

.inst_info img {
    border-radius: 1000px;
}

.inst_info h5 {
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #21D19F;
}

.inst_info h6 {
    padding-top: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.inst_saibaMais {
    color: #333333;
    padding: 10px;
    background-color: #21D19F;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.inst_saibaMais i {
    margin-top: 40px;
    padding-right: 10px;
}

@media screen and (max-width: 991px) {
    .inst_general {
        padding: 40px 20px;
    }
}

/*-------------------------------------------- Sobre nós --------------------------------------------*/

.sec_sobreNos {
    padding: 40px 50px;
    background-color: #21D19F
}

.sobre_general h5 {
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.sobre_general h6 {
    padding: 10px 0px 30px 0px;
    margin: 0px;
}

.sobre_social {
    padding: 12px 12px 10px 12px;
    background-color: #333333;
    border-radius: 30px;
}

.sobre_social i {
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .sec_sobreNos h5 {
        text-align: center;
        padding-top: 30px;
    }

    .sec_sobreNos h6 {
        text-align: justify;
    }

    .sec_sobreNos {
        padding: 40px 20px;
    }
}

/*-------------------------------------------- Footer --------------------------------------------*/

.footer {
    padding: 20px 0px;
    background-color: #333333;
}

.footer a {
    color: #21D19F;
    font-size: 17px;
}

.footer p {
    margin: 0px;
    padding-top: 10px;
    color: white;
    font-weight: bold;
}